# Ignore los archivos que se generan en la compilación

# Ignore .aux
*.aux

# Ignore .log
*.log

# Ignore .out
*.out
*.lot
*.lof
*.toc

# Ignore .syntex.gz
*.syn*

#Ignore compiled PDF
*.pdf

# Ignore cosas turbias del Mac de Alberto
*.fdb_latexmk
*.fls

# Exception in logos
!s3.pdf
!s3long.pdf
